<!DOCTYPE html>
<html>
<head>
	<title>home</title>
	<%- include('_layout/header') %>
</head>
<body>
	<div class="titulo"><%= titulo %></div>
	<br/><br/>
	<center>
	<a href="pessoa/adicionar">Adicionar Pessoa</a>
	<br/>
	<a href="pessoa/listar">Listar Pessoas</a>
	</center>
</div>
</body>
</html>
